.footer {
  background-color: var(--fel-footer-color);
  box-shadow: 0 -30px 20px rgba(0, 0, 0, 0.07);
  justify-content: space-around;
  align-items: center;
}

.footer h4 {
  font-size: 2rem;
  color: var(--fel-footer-author-color);
  text-shadow: 0 0 6px var(--fel-footer-author-color);
}

.footer-desc > p {
  color: var(--fel-footer-desc-color);
}
